@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;400&display=swap');

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
    background: url('oscillate-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(1.2px);
}

main, header, nav, section, .note-help, div {
    background: rgba(27, 53, 71, 0.27);
    border-radius: 1.2em;
    padding: 1.2em 2em;
    margin: 1.2em auto;
    max-width: 700px;
    box-shadow: 0 12px 40px 0 rgba(0, 0, 0, 0.17);
}

header {
   text-align: center;
   margin-top: 1rem;
   background: g=rgba(27, 53, 71, 0.35);
}

h1, h2 {
   font-weight: 700;
   color: #fff;
   letter-spacing: 2px;
   margin-bottom: 0.4em;
   text-shadow: 0 4px 24px #19435a99;
}

label, input, select, button, ul, ol, .note-help, canvas {
   font-size: 1.1rem;
   font-family: 'Montserrat', Arial, sans-serif;
}

input[type="text"], select, input[type="range"], input[type="color"] {
    border: none;
    border-radius: 0.5em;
    margin: 0.1em 0.3em 0.8em 0;
    padding: 0.45em 0.8em;
    background: rgba(255,255,255,0.1);
    color: #fff;
    outline: none;
    box-shadow: 0 3px 8px #0002;
    transition: background 0.2s;
}

input[type="text"]:focus, select:focus, input[type="range"]:focus {
    background: rgba(255,255,255,0.2);
}